<h1>Meus projetos</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projetos.each do |projeto| %>
      <tr>
        <td><%= link_to projeto.titulo, projeto %></td>
        <td><%= projeto.descricao %></td>
        <td>
          <%= link_to 'Editar', edit_projeto_path(projeto), :class => 'btn btn-xs btn-primary' %>
          <%= link_to 'Excluir', projeto, method: :delete, data: { confirm: 'Tem certeza?' }, :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Projeto', new_projeto_path, :class => 'btn btn-primary' %>
