<!DOCTYPE html>
<html>
  <head>
    <title>Banco de Ideias</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

		<div id="wrap">

			<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          
	          <%= link_to 'Banco de Ideias', root_path, :class => 'navbar-brand' %>
	        </div>
	        <div class="collapse navbar-collapse">
							<% if user_signed_in? %>
								<%= render 'layouts/user_navbar' %>
							<% else %>
								<%= render 'layouts/visitor_navbar' %>
							<% end %>
	        </div>
	      </div>
	    </div>

			<div class="container">
				<% if notice.present? %>
					<div id="notice"> <%= notice %> </div>
				<% end %>
				
				<% if alert.present? %>
					<div id="alert"><%= alert %></div>
				<% end %>

				<%= yield %>		
			</div>
		</div>

		<footer id="footer">
			<div class="container">
				<p>by <a href="http://twitter.com/rodrigorosa">@rodrigorosa</a></p>
			</div>
		</footer>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>